@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/**
 * prime vue related stylesheets
 */
@import '~primeicons/primeicons.css';
@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';

:root {
    --primary-color: #00000;
}



.no-select {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

.box-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: white;
}

// removes default padding
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* hide scrollbar on IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

// sets font family
#app,
input,
button,
.p-dialog-header,
.p-dialog-content,
.p-dialog-footer {
    font-family: 'Saira', sans-serif;
}

/**
 * Progress bar
 */
.p-progressbar {
    height: 2px !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.p-scrollpanel-content {
    padding: 0 !important;
}

.p-progressbar-value {
    background: black !important;
}

/**
 * Dialog component
 */
.p-dialog {
    border-radius: 5px !important;
    width: 70vw;
    height: 70vh;
    background: white;
}

.p-dialog-content {
    flex-grow: 1;
    margin-bottom: 32px;
}


/**
 * Speed dial component
 */
.p-button {
    background: black;
    border: 1px solid #3a3a3a;
}

.p-button:enabled:hover {
    background: #3a3a3a;
    border-color: #3a3a3a;
}

.p-button:focus {
    box-shadow: 0 0 0 0.2rem #b7b7b7;
}
