@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.no-select {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.box-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: white;
}

// removes default padding
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// sets font family
#app, input {
  font-family: 'Saira', sans-serif;
}


/**
 * Progress bar
 */
.p-progressbar {
  height: 2px !important;
  border-radius: 0 !important;
  background: transparent !important;
}

.p-scrollpanel-content {
  padding: 0 !important;
}

.p-progressbar-value {
  background: black !important;
}
