.no-select {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.box-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: white;
}